<nav
  class="w-full flex items-center justify-between px-8 py-5 bg-transparent backdrop-blur-sm relative z-50"
>
  <a routerLink="/" class="flex items-center gap-3 cursor-pointer">
    <div
      class="bg-purple-600 text-white p-1.5 rounded-lg flex items-center justify-center shadow-[0_0_15px_rgba(168,85,247,0.5)]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-5 h-5"
      >
        <path
          fill-rule="evenodd"
          d="M14.615 1.595a.75.75 0 01.359.852L12.982 9.75h7.268a.75.75 0 01.548 1.262l-10.5 11.25a.75.75 0 01-1.272-.71l1.992-7.302H3.75a.75.75 0 01-.548-1.262l10.5-11.25a.75.75 0 01.913-.143z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="leading-none">
      <span class="font-bold text-xl tracking-wider block">TU</span>
      <span class="text-[0.65rem] font-medium text-purple-400 tracking-[0.2em] block">WEB</span>
    </div>
  </a>

  <ul class="hidden md:flex items-center gap-8 text-sm font-medium text-slate-300">
    <li>
      <a href="/#sobre-mi" class="hover:text-white cursor-pointer transition-colors block"
        >Sobre mí</a
      >
    </li>
    <li>
      <a href="/#experiencia" class="hover:text-white cursor-pointer transition-colors block"
        >Experiencia</a
      >
    </li>
    <li>
      <a href="/#proyectos" class="hover:text-white cursor-pointer transition-colors block"
        >Proyectos</a
      >
    </li>
  </ul>

  <div class="flex items-center gap-6">
    <button class="text-yellow-500 hover:text-yellow-400 transition-colors">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 21v-2.25m-6.364-.386l1.591-1.591M3 12h2.25m.386-6.364l1.591 1.591M12 18.75a6.75 6.75 0 100-13.5 6.75 6.75 0 000 13.5z"
        />
      </svg>
    </button>
    <a
      routerLink="/cotizador"
      class="bg-purple-600 hover:bg-purple-500 text-white px-6 py-2.5 rounded-full text-sm font-semibold shadow-[0_0_20px_rgba(168,85,247,0.4)] transition-all inline-block"
    >
      Cotizar
    </a>

    <a
      routerLink="/agendar"
      class="bg-purple-600 hover:bg-purple-500 text-white px-6 py-2.5 rounded-full text-sm font-semibold shadow-[0_0_20px_rgba(168,85,247,0.4)] transition-all inline-block"
    >
      Agendar
    </a>
  </div>
</nav>
